/* Google Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind CSS */
@import "tailwindcss";

/* Custom CSS Variables */
@theme {
  --primary-color: #303e67;
  --secondary-color: #32375e;
  /* --primary-color: #1c3865;
  --secondary-color: #244170; */
}

body {
  font-family: "Poppins", sans-serif;
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #d1d5dc;
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer and Edge Legacy */
.hide-scrollbar {
  -ms-overflow-style: none;
}

/* For Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  /* Width of the scrollbar */
  width: 12px;
  /* Height of the scrollbar for horizontal scrolling */
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* Color of the scrollbar handle */
  background-color: #888;
  /* Round the corners of the scrollbar handle */
  border-radius: 10px;
  /* Optional: adds a border around the thumb */
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  /* Darker thumb color when hovered */
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* Track (background of the scrollbar) */
  background-color: #f1f1f1;
  /* Round the corners of the track */
  border-radius: 10px;
}

/* For Firefox */
.custom-scrollbar {
  /* 'thin', 'auto', or 'none' */
  scrollbar-width: thin;
  /* Thumb and track colors */
  scrollbar-color: #888 #f1f1f1;
}

/* CSS to change color of image in DownloadCertificateModal & MISGenerateReportModal */
.errorImage {
  filter: drop-shadow(0px 100px 0 #fb2c36);
  transform: translateY(-100px);
}