/* Google Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind CSS */
@import "tailwindcss";

/* Custom CSS Variables */
@theme {
  --primary-color: #303e67;
  --secondary-color: #32375e;
  /* --primary-color: #1c3865;
  --secondary-color: #244170; */
}

body {
  font-family: "Poppins", sans-serif;
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 9px;
  border: 1px solid #817979;
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* For IE, Edge Legacy */
.custom-scrollbar {
  -ms-overflow-style: none;
}

.aishadow {
  box-shadow:
    inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 20px 0px #9917ff;
}
